body {
    font-family:cursive
}

.navbar {
    font-size: 1.3rem;
}

.navbar-nav li a:hover {
    background-color: #ecb751;
    color: #fffffe;
    border-radius: 0.8rem;
}

.bg-white {
    background-color: #fffffe;
}

.border-white {
    border-color: #fffffe;
}

.bg-red {
    background-color: #df4e57;
}

.outline-red {
    border-color: #df4e57;
}

.bg-yellow {
    background-color: #ecb751;
}

.outline-yellow {
    border-color: #ecb751;
}